<form action="/login/index" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="UserName" placeholder="Enter name">
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="Password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
