@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
    var count = 0;
}
<h1>Blog List</h1>
<table class="table table-stdiped">
    <thead>
        <tr>
            <td>No.</td>
            <td>Title</td>
            <td>Author</td>
            <td>Content</td>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogModel item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
            </tr>
        }
    </tbody>
</table>