<form action="/PieChart/Index" method="post">
    <input type="type" name="Labels" class="form-control" />
    <input type="type" name="Series" class="form-control" />
    <button type="submit" class="btn btn-success">Send</button>
</form>
