@model HighChartModel

<div id="container"></div>

@section scripts{
    <script>
        const _lables = @Html.Raw(JsonConvert.SerializeObject(Model.Series));
        const _data1 = @JsonConvert.SerializeObject(Model.Data1);
        const _data2 = @JsonConvert.SerializeObject(Model.Data2);
       
        Highcharts.chart('container', {

            chart: {
                type: 'line'
            },
            title: {
                text: 'Monthly Average Temperature'
            },
            subtitle: {
                text: 'Source: ' +
                    '<a href="https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature" ' +
                    'target="_blank">Wikipedia.com</a>'
            },
            xAxis: {
                categories: _lables
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Reggane',
                data: _data1
            }, {
                name: 'Tallinn',
                data: _data2
            }]
        });

    </script>
}