@model ChartJsRadarChartModel
<div>
    <canvas id="myChart"></canvas>
</div>

@section scripts{
    <script>
        const _lables = @Html.Raw(JsonConvert.SerializeObject(Model.Series));
        const _dataOne = @JsonConvert.SerializeObject(Model.data1);
        const _dataTwo = @JsonConvert.SerializeObject(Model.data2);
        const data = {
            labels: _lables,
            datasets: [{
                label: 'My First Dataset',
                data: _dataOne,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            }, {
                label: 'My Second Dataset',
                data: _dataTwo,
                fill: true,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                pointBackgroundColor: 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
            }]
        };
        const config = {
            type: 'radar',
            data: data,
            options: {
                elements: {
                    line: {
                        borderWidth: 1
                    }
                }
            },
        };
        const ctx = document.getElementById('myChart');

        new Chart(ctx, config);
    </script>
}